body {
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif;
}

header {
  margin: 0px 0 10px 0;
  padding: 20px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  animation: time 2.5s forwards;
  opacity: 1;
}

@keyframes time {
  0% {
    opacity: 1;
    z-index: 3;
  }

  90% {
    opacity: 1;
    z-index: 3;
  }

  100% {
    opacity: 0;
  }
}

.lettre {
  color: #9356dc;
  font-size: 30px;
  letter-spacing: 10px;
  margin-bottom: 150px;
  animation: flash 1.2s linear infinite;
  font-family: shrikhand;
}

@keyframes flash {
  0% {
    color: #9356dc;
    text-shadow: 0 0 7px #9356dc;
  }

  50% {
    color: #FF79DA;
    text-shadow: #FF79DA;
  }

  100% {
    color: #9356dc;
    text-shadow: 0 0 7px #9356dc;
  }
}



.return {
  font-size: 22px;
  position: absolute;
  left: 20px;
  color: black;
}

.logo {
  width: 188px;
}

.localisation {
  background: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 2px 5px rgba(80, 80, 80, 0.2);
}

.localisation p {
  margin: 15px 20px;
  font-weight: bold;
}

.top {
  background: #f7f7f7;
  height: 290px;
}

.title {
  font-size: 24px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 40px 10% 5px 10%;
}

.title--p {
  display: flex;
  justify-content: center;
  font-size: 18px;
  text-align: center;
  margin: 10px 20px;
}

.explore {
  display: block;
  margin: 30px auto;
  font-size: 15px;
  padding: 15px 20px;
  border: none;
  border-radius: 40px;
  background-image: linear-gradient(to top, #9356dc, #FF79DA);
  text-decoration-color: white;
  box-shadow: 3px 3px 5px rgba(80, 80, 80, 0.2);
  color: white;
  cursor: pointer;
}

.explore--clic {
  text-decoration: none;
  color: white;
}

.explore:hover {
  box-shadow: 5px 5px 3px rgba(80, 80, 80, 0.2);
  background-image: linear-gradient(to top, #a561f8, #ffaee8);
}

.explore:active {
  box-shadow: inset 5px 5px 4px rgba(80, 80, 80, 0.2),
              2px 2px 5px rgba(80, 80, 80, 0.2);
}

.select {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 420px;
}

.select h2 {
  font-size: 24px;
  margin: 40px 10px 20px 0px;
}

.select--button {
  width: 100%;
  border: none;
  margin: 25px auto;
  display: flex;
  align-items: center;
  border-radius: 22px;
  height: 72px;
  box-shadow: 2px 3px 5px rgba(80, 80, 80, 0.12);
  background: #f7f7f7;
  cursor: pointer;
}

.select--button:hover {
  background: #fafafa;
  box-shadow: 4px 5px 4px rgba(80, 80, 80, 0.12);
}

.select--button:active {
  box-shadow: inset 4px 4px 4px rgba(80, 80, 80, 0.2);
}

.select--button__number {
  color: white;
  background: #9356dc;
  border-radius: 100px;
  padding: 5px;
  height: 13px;
  width: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 20px 10px -15px;
}

.select--button i {
  color: grey;
  font-size: 18px;
}

.select--button:last-child i {
  color: #9356dc;
}

.select--button:last-child {
  background: #9256dc17;
}

.select--button:last-child:hover {
  background: #a86cf117;
}

.select--button__text {
  font-size: 16px;
  font-weight: bold;
  margin-left: 20px;
}

.container {
  background: #f7f7f7;
  margin: auto;
  height: 1230px;
}

.container h2 {
  margin: 0px 0px 10px 5%;
  padding-top: 55px;
}

.container--card {
  width: 90%;
  margin: 20px auto;
  background: white;
  position: relative;
  height: 250px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px rgba(80, 80, 80, 0.2);
}

.container--card__clic {
  text-decoration: none;
  color: black;
}

.container--card:hover {
  box-shadow: 4px 5px 4px rgba(80, 80, 80, 0.2);
}

.container--card:active {
  box-shadow: inset 4px 5px 4px rgba(80, 80, 80, 0.2);
  width: 88%;
}

.container--card img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  height: 70%;
  object-fit: cover;
  overflow: hidden;
}

.container--card__new {
  position: absolute;
  margin: 15px 0px 0px 70%;
  background: #99E2D0;
  color: #00956f;
  padding: 7px 10px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 3px;
}

.container--card__title {
  margin: 10px 0px 5px 10px;
  font-weight: bold;
}

.container--card__text {
  margin: 0px 0px 10px 10px;
}

.container--card i {
  position: absolute;
  margin: -45px 0 0 80%;
  font-size: 25px;
}

.fa-heart-o:hover {
    animation: heart 3s ease forwards;
    cursor: pointer;
}

@keyframes heart {
  0% {
    font-weight: 800;
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.1;
  }
  100% {
    font-weight: 800;
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

footer {
  color: white;
  background: #363636;
}

.footer--logo {
  color: white;
  width: 35%;
  font-family: "Shrikhand", cursive;
  margin: 0;
  padding: 25px 0px 20px 5%;
  font-size: 20px;
}

.footer--ul {
  margin: 0px 0px 0px 5%;
  padding: 0 0 25px 0;
}

.footer--ul__li {
  list-style-type: none;
  margin-top: 10px;
}

.footer--ul__li a {
  color: white;
  text-decoration: none;
}

.footer--ul__li i {
  margin-right: 10px;
  min-width: 15px;
  max-width: 15px;
  max-height: 15px;
}

/**************** CSS index fini *****************/


main img {
  width: 100%;
  object-fit: cover;
  max-height: 250px;
}

.containers {
  padding-top: 10px;
  background: #f7f7f7;
  border-radius: 45px 45px 0 0;
  position: relative;
  margin-top: -45px;
  padding-bottom: 20px;
}

.containers--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 3.5% ;
}

.containers--title h1 {
  font-family: "Shrikhand";
  font-size: 30px;
  font-weight: 100;
}

.containers--title i {
  font-size: 25px;
}

.containers h2 {
  font-size: 18px;
  border-bottom: solid 3px #99E2D0;
  width: 45px;
  margin: 10px 0 0 3.5%;
  font-weight: 100;
  padding-bottom: 5px;
}

.containers--cards {
  background: white;
  width: 93%;
  margin: 15px auto;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #dfdfdf;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  animation: apparition 2s ease-out forwards;
  overflow: hidden;
  opacity: 0;
}

@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.containers--cards:nth-child(1) {
  animation-delay: 0.1s;
}

.containers--cards:nth-child(2) {
  animation-delay: 0.4s;
}

.containers--cards:nth-child(3) {
  animation-delay: 0.7s;
}

.containers--cards:nth-child(4) {
  animation-delay: 1s;
}

.containers--cards:nth-child(5) {
  animation-delay: 1.3s;
}

.containers--cards:nth-child(6) {
  animation-delay: 1.6s;
}

.containers--cards:nth-child(7) {
  animation-delay: 1.9s;
}

.containers--cards:nth-child(8) {
  animation-delay: 2.2s;
}

.containers--cards:nth-child(9) {
  animation-delay: 2.5s;
}

.containers--cards:nth-child(10) {
  animation-delay: 2.8s;
}

.containers--cards__check {
  right: 0px;
  width: 60px;
  height: 100%;
  background: #99E2D0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: 0.6s ease;
  border-radius: 0 15px 15px 0;
}

.rotate {
  color: white;
  font-size: 24px;
}

.containers--cards:hover {
  background-color: white;
  box-shadow: 4px 5px 4px rgba(80, 80, 80, 0.12);
}

.containers--cards__texts {
  transition: transform .6s;
}

.containers--cards:hover .containers--cards__check {
  transform: translateX(0%);
  transition: 0.6s ease;
}

.containers--cards:hover .containers--cards__price {
  padding-right: 70px;
  transition: 0.6s ease;
}

.containers--cards:hover .containers--cards__check i {
  animation: rotatecheck 0.8s 1 both;
}

@keyframes rotatecheck {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.containers--cards:active {
  box-shadow: inset 4px 4px 4px rgba(80, 80, 80, 0.2);
}

.containers--cards__texts {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 10px;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.containers--cards__title {
  margin: 10px 0;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.containers--cards__text {
  margin: 0 0 10px 0;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.containers--cards__price {
  margin: 43px auto 0;
  padding: 0 15px 0 0;
  font-weight: bold;
  transition: 0.6s ease;
}

.order {
  display: block;
  margin: 40px auto;
  font-size: 17px;
  padding: 16px 42px;
  border: none;
  border-radius: 40px;
  background-image: linear-gradient(to top, #9356dc, #FF79DA);
  text-decoration-color: white;
  box-shadow: 3px 3px 5px rgba(80, 80, 80, 0.2);
  color: white;
  cursor: pointer;
}

.order:hover {
  box-shadow: 5px 5px 3px rgba(80, 80, 80, 0.2);
  background-image: linear-gradient(to top, #a561f8, #ffaee8);
}

/**************** MEDIA *****************/

@media screen and (min-width:578px) {

  .lettre {
    font-size: 70px;
  }

  .top {
    height: 220px;
  }  
}

@media screen and (min-width:1024px) {

  .lettre {
    font-size: 100px;
  }

  .select {
    display: flex;
    justify-content: space-between;
    height: 300px;
  }

  .select--buttons {
    margin: auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .select--button {
    width: 30%;
  }

  .select h2 {
    margin: 40px auto 20px auto;
  }

  .container {
    height: 800px;
  }

  .container h2 {
    margin: 20px auto 20px auto;
    text-align: center;
    padding: 40px;
  }

  .containers--title {
    margin: 0;
    justify-content: center;
  }

  .containers--title i {
    font-size: 28px;
    position: absolute;
    margin-left: 75%;
  }


  .container--card {
    width: 45%;
  }

  .container--cards {
    display: flex;
    flex-wrap: wrap;
  }

  .container--card:active {
    box-shadow: 4px 5px 4px rgba(80, 80, 80, 0.2);
    width: 48%;
    height: 260px;
  }
  
  .footer--logo {
    display: flex;
    justify-content: center;
    padding: 25px 0 20px 0;
    width: auto;
  }

  .footer--ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .footer--ul__li {
    padding-bottom: 10px;
  }

/************************ media autre page****************************/

main img {
  max-height: 400px;
}

.containers h2 {
  margin: auto;
  width: 120px;
}

.containers--pack {
  margin: auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; 
}

.containers--cards {
  width: 30%;
}

}

/*# sourceMappingURL=style.css.map */
