$font-family-Roboto: 'roboto', sans-serif;
$font-family-Shrikhand: 'shrikhand', cursive;

/* Font Family */

.footer--logo, .containers--title h1 {
    font-family: $font-family-Shrikhand;
}

* {
    font-family: $font-family-Roboto;
}

/* Font size */

.lettre, .containers--title h1 {
    font-size: 30px;
}

.container--card i , .containers--title i{
    font-size: 25px;
}

.title, .select h2, .rotate {
    font-size: 24px;
}

.return {
    font-size: 22px;
}

.footer--logo {
    font-size: 20px;
}

.title-p, .select--button i, .containers h2, .containers--cards__title{
    font-size: 18px;
}

.order {
    font-size: 17px;
}

.select--button__text {
    font-size: 16px;
}

.explore, .container--card__new, .containers--cards__text {
    font-size: 15px;
}

/* Font Weight */

.localisation p, .select--button__text, .container--card__new, .container--card__title, .containers--cards__price {
    font-weight: bold;
}

.containers--title h1, .containers h2 {
    font-weight: 100;
}

/* MEDIA QUERIES */

@media screen and (min-width:578px) {

    .lettre {
      font-size: 70px;
    }
  
    .top {
      height: 220px;
    }  
  }

@media screen and (min-width:1024px) {

    .lettre {
      font-size: 100px;
    }
  
    .select {
      display: flex;
      justify-content: space-between;
      height: 300px;
    }
  
    .select--buttons {
      margin: auto 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  
    .select--button {
      width: 30%;
    }
  
    .select h2 {
      margin: 40px auto 20px auto;
    }
  
    .container {
      height: 800px;
    }
  
    .container h2 {
      margin: 20px auto 20px auto;
      text-align: center;
      padding: 40px;
    }
  
    .containers--title {
      margin: 0;
      justify-content: center;
    }
  
    .containers--title i {
      font-size: 28px;
      position: absolute;
      margin-left: 75%;
    }
  
  
    .container--card {
      width: 45%;
    }
  
    .container--cards {
      display: flex;
      flex-wrap: wrap;
    }
  
    .container--card:active {
      box-shadow: 4px 5px 4px rgba(80, 80, 80, 0.2);
      width: 48%;
      height: 260px;
    }
    
    .footer--logo {
      display: flex;
      justify-content: center;
      padding: 25px 0 20px 0;
      width: auto;
    }
  
    .footer--ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin: 0;
    }
  
    .footer--ul__li {
      padding-bottom: 10px;
    }
  
  /************************ media autre page****************************/
  
  main img {
    max-height: 400px;
  }
  
  .containers h2 {
    margin: auto;
    width: 120px;
  }
  
  .containers--pack {
    margin: auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; 
  }
  
  .containers--cards {
    width: 30%;
  }
}