$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-quaternary: #EDEDED;
$colour-quinary: #F7F7F7;
$colour-senary:#eee0ea ;
$colour-septenary:white;
$colour-heightnary: black;
$colour-ninenary: grey;
$colour-tenary: #9256dc17;
$colour-elevanery: #00956f;
$colour-twelvary: #363636;